<mat-dialog-content class="mat-typography">
    <div
    class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
    >
        <div class="px-4 py-4">
        <form [formGroup]="form" #frmCoach="ngForm">
            <div [hidden]="true">
                <mat-form-field class="input">
                    <mat-label>Id</mat-label>
                    <input matInput formControlName="id" [hidden]="true">
                </mat-form-field>
            </div>
            <mat-form-field class="input w-full">
                <mat-label>Documento</mat-label>
                <input matInput formControlName="document" maxlength="15" minlength="5" type="number">
            </mat-form-field>
            <br>
            <mat-form-field class="input w-full">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" maxlength="30" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
            </mat-form-field>
            <br>
            <mat-form-field class=" w-full">
                <mat-label>{{documento}}</mat-label>
                <mat-select formControlName="documentType">
                    <mat-label>Seleccione el documento</mat-label>
                    <mat-option *ngFor="let x of documentTypes" [value]="x.id">
                        {{x.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="input w-full">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name" maxlength="50">
            </mat-form-field>
            <br>
            <mat-form-field class="input w-full">
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="lastName" maxlength="50">
            </mat-form-field>
            <br>
        </form>
    </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-button class="bg-red-500" *ngIf="edicion== true" (click)="eliminar()">Eliminar</button>
    <button mat-button class="py-3 px-4 bg-meraki-2 text-white" [disabled]="frmCoach.invalid" (click)="guardar()">Guardar</button>
</mat-dialog-actions>