<app-index-navbar></app-index-navbar>
<main class="profile-page">
  <section class="relative block h-500-px">
    <div
      class="absolute top-0 w-full h-full bg-center bg-black"
    >
    <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-50 bg-black"  
      >       
    </span>
      
    </div>
  </section>
  <section class="relative py-16 bg-black">
    <div class="container mx-auto px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-black w-full mb-6 shadow-xl rounded-lg -mt-64"
      >
        <div class="px-6">
          <div class="text-center mt-12">
            <div
              class="text-xl leading-normal mt-0 mb-2 text-white font-bold uppercase"
            >
              <i
                class="fas fa-hands-helping mr-2 text-black"
              ></i>
              Red de Apoyo
            </div>
          </div>
          <div class="mt-10 py-10 border-t border-blueGray-200 text-justify">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <p class="mb-4 text-lg leading-relaxed text-blueGray-200">
                    Es un programa diseñado para crear redes COMERCIALES, PROFESIONALES y de SERVICIOS entre los padres de familia, apoyado por la Corporación MERAKI y enfocado en el emprendimiento, la asociatividad y el empoderamiento de los padres, quienes son los primeros responsables económicos del deportista. Este programa ofrece capacitaciones y apoyo técnico para facilitar el desarrollo de habilidades empresariales y el fortalecimiento de la red de contactos de los participantes
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
