<app-index-navbar></app-index-navbar>
<main class="profile-page">
  <section class="relative block h-500-px">
    <div
      class="absolute top-0 w-full h-full bg-center bg-black"
    >
    <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-50 bg-black"  
      >       
    </span>
      
    </div>
  </section>
  <section class="relative py-16 bg-black">
    <div class="container mx-auto px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64"
      >
        <div class="px-6">
          <div class="text-center mt-12">
            <div
              class="text-xl leading-normal mt-0 mb-2 text-black font-bold uppercase"
            >
              <i
                class="fas fa-people-carry mr-2 text-black"
              ></i>
              Plan Padrino
            </div>
          </div>
          <div class="mt-10 py-10 border-t border-blueGray-200 text-justify">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                    El Plan Padrino es un programa que promueve la integración entre clubes deportivos y fundaciones sociales ubicadas en áreas geográficamente cercanas, con el fin de ofrecer apoyo mutuo en el logro de sus respectivos objetivos. Este programa se centra en el establecimiento de redes de apoyo y colaboración entre ambas entidades, buscando potenciar su impacto y eficacia en la comunidad.
                </p>
                <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                    El programa "sembrando vida" es una iniciativa medioambiental colaborativa que une a clubes deportivos, fundaciones, padres de familia y deportistas miembros de la familia MERAKI en la noble causa de la recuperación forestal. A través de actividades de reforestación y conservación de áreas naturales, buscamos promover la conciencia ecológica y la responsabilidad ambiental en nuestra comunidad. Trabajando juntos, podemos asegurar un futuro más verde y sostenible para las generaciones venideras
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
