<app-index-navbar></app-index-navbar>
<main class="profile-page">
  <section class="relative block h-500-px">
    <div
      class="absolute top-0 w-full h-full bg-center bg-black"
    >
    <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-50 bg-black"  
      >       
    </span>
      
    </div>
  </section>
  <section class="relative py-16 bg-black">
    <div class="container mx-auto px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64"
      >
        <div class="px-6">
          <div class="text-center mt-12">
            <div
              class="text-xl leading-normal mt-0 mb-2 text-black font-bold uppercase"
            >
              Acerca de nosotros
            </div>
          </div>
          <div class="mt-10 py-10 border-t border-blueGray-200 ">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <h1 class="mb-4 text-lg leading-relaxed text-blueGray-700 text-left">Misión</h1>
                <p class="mb-4 text-lg leading-relaxed text-blueGray-700 text-justify">
                    Gestionar recursos a nivel nacional e internacional para invertir en deporte, cultura y el bienestar general de la población, con el objetivo de convertir a MERAKI en la entidad deportiva y cultural más creíble del país. Nos comprometemos a promover el desarrollo humano, la inclusión y la calidad de vida a través de actividades deportivas y culturales, así como a fomentar prácticas éticas y transparentes en todas nuestras iniciativas.
                </p>
                <h1 class="mb-4 text-lg leading-relaxed text-blueGray-700 text-left">Visión</h1>
                <p class="mb-4 text-lg leading-relaxed text-blueGray-700 text-justify">
                    A mediano plazo, la CORPORACIÓN MERAKI se consolidará como un referente deportivo en el departamento, y para el año 2027 nuestros deportistas serán reconocidos como medallistas en los eventos nacionales e internacionales más destacados. En el ámbito cultural y social, los programas de la CORPORACIÓN MERAKI serán elogiados por su contribución a la construcción del tejido social en la región, promoviendo la inclusión, la diversidad y el bienestar comunitario.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
