<a
  class="px-3 py-2 text-blueGray-100 hover:text-blueGray-300 text-xs uppercase font-bold"
  (click)="toggleDropdown($event)"
  #btnDropdownRef
>
<i class="fas fa-user-friends"></i>
  Social
</a>
<div
  class="bg-white text-base z-10 float-left py-2 list-none text-left rounded shadow-lg min-w-48 translate-x-full"
  [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
  #popoverDropdownRef
>
    <button style="cursor: pointer" routerLink="/godfather" 
        class="px-3 py-2 flex items-center text-xs uppercase font-bold">
        <i class="fas fa-people-carry"></i>
        <span class=" inline-block ml-2">Plan Padrino</span>
    </button>

    <button style="cursor: pointer" routerLink="/suppornet" 
        class="px-3 py-2 flex items-center text-xs uppercase font-bold">
        <i class="fas fa-hands-helping"></i>
        <span class="inline-block ml-2">Red. de Apoyo</span>
    </button>

    <button style="cursor: pointer" routerLink="/growlife" 
        class="px-3 py-2 flex items-center text-xs uppercase font-bold">
        <i class="fas fa-seedling"></i>
        <span class=" inline-block ml-2">Sembrando vida</span>
    </button>
</div>
