<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
>
    <div class="px-4 py-4">
    <form [formGroup]="form" #frmAthlete="ngForm" (ngSubmit)="guardar()">
        <div [hidden]="true">
            <mat-form-field class="input">
                <mat-label>Id</mat-label>
                <input matInput formControlName="id" [hidden]="true">
            </mat-form-field>
        </div> 
        <h3 class="px-4 font-semibold">
            Información personal
        </h3>       
        <div class="flex flex-wrap">
            <div class="px-4 lg:w-4/12">
                <mat-form-field class="input w-full">
                   <mat-label>Apellidos</mat-label>
                   <input matInput formControlName="lastName" maxlength="50" minlength="5">
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-4/12">
                <mat-form-field class="input w-full">
                    <mat-label>Nombres</mat-label>
                    <input matInput formControlName="name" maxlength="50" minlength="5">
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-4/12">
                <mat-form-field class="input w-full">
                    <mat-label>EPS</mat-label>
                    <input matInput formControlName="eps" maxlength="30" minlength="5">
                </mat-form-field>
            </div>
        </div>
        <h3 class="px-4 font-semibold">
            Lugar de Nacimiento
        </h3>
        <div class="flex flex-wrap">
            <div class="px-4 lg:w-3/12">
                <mat-form-field class=" w-full">
                    <mat-label>{{nombreDep}}</mat-label>
                    <mat-select [(ngModel)]="selectedDep" (selectionChange)="listarCiudades($event.value)">
                    <mat-label>Seleccione el departamento</mat-label>
                    <mat-option *ngFor="let dep of departamentos" [value]="dep.idDep">
                        {{ dep.nombreDep }}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>           
            <div class="px-4 lg:w-3/12">
                <mat-form-field class=" w-full">
                    <mat-label>{{nombreCiudad}}</mat-label>
                    <mat-select formControlName="city">
                        <mat-label>Seleccione la ciudad</mat-label>
                        <mat-option *ngFor="let x of cities" [value]="x.id">
                            {{x.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-6/12">
                <mat-form-field class=" w-full">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="bornDate" [(ngModel)]="selectedDate" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="flex flex-wrap">
            <div class="px-4 lg:w-4/12">
                <mat-form-field class=" w-full">
                    <mat-label>Seleccione el genero</mat-label>
                    <mat-select formControlName="gender">
                        <mat-label>Seleccione el genero</mat-label>
                        <mat-option value="M">Masculino</mat-option>
                        <mat-option value="F">Femenino</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-4/12">
                <mat-form-field class="input w-full">
                    <mat-label>Telefono</mat-label>
                    <input matInput formControlName="phone" maxlength="11" minlength="5" type="number">
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-4/12">
                <mat-form-field class="input w-full">
                    <mat-label>Dirección</mat-label>
                    <input matInput formControlName="direction" maxlength="50" minlength="5">
                </mat-form-field>
            </div>
        </div>
        <div class="flex flex-wrap">
            <div class="px-4 lg:w-2/12">
                <mat-form-field class=" w-full">
                    <mat-label>{{documento}}</mat-label>
                    <mat-select formControlName="documentType">
                        <mat-label>Seleccione el documento</mat-label>
                        <mat-option *ngFor="let x of documentTypes" [value]="x.id">
                            {{x.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-2/12">
                <mat-form-field class="input w-full">
                    <mat-label>Documento</mat-label>
                    <input matInput formControlName="document" maxlength="13" minlength="5">
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-1/12">
                <mat-form-field class="input w-full">
                    <mat-label>Seleccione el RH</mat-label>
                    <mat-select formControlName="rh">
                        <mat-label>Seleccione el RH</mat-label>
                        <mat-option value="O-">O-</mat-option>
                        <mat-option value="O+">O+</mat-option>
                        <mat-option value="A-">A-</mat-option>
                        <mat-option value="A+">A+</mat-option>
                        <mat-option value="B-">B-</mat-option>
                        <mat-option value="B+">B+</mat-option>
                        <mat-option value="AB-">AB-</mat-option>
                        <mat-option value="AB+">AB+</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-3/12">
                <mat-form-field class="input w-full">
                    <mat-label>Barrio</mat-label>
                    <input matInput formControlName="neighborhood" maxlength="50" minlength="5">
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-4/12">
                <mat-form-field class="input w-full">
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="email" maxlength="50" type="email">
                </mat-form-field>
            </div>
        </div>
        <h3 class="px-4 font-semibold">
            Grado de escolaridad
        </h3>
        <div class="flex flex-wrap">
            <div class="px-4 lg:w-2/12">
                <mat-form-field class=" w-full">
                    <mat-label>Seleccione el grado de escolaridad</mat-label>
                    <mat-select formControlName="schoolGrade">
                        <mat-label>Seleccione el grado de escolaridad</mat-label>
                        <mat-option value="Primaria">Primaria</mat-option>
                        <mat-option value="Bachillerato">Bachillerato</mat-option>
                        <mat-option value="Técnico">Técnico</mat-option>
                        <mat-option value="Tegnólogo">Tegnólogo</mat-option>
                        <mat-option value="Universitario">Universitario</mat-option>
                        <mat-option value="Otro">Otro...</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-1/16">
                <mat-form-field class="input w-full">
                    <mat-label>Grado</mat-label>
                    <input matInput formControlName="grade" maxlength="20" minlength="5">
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-2/16">
                <mat-form-field class="input w-full">
                    <mat-label>{{otroEstudios}}</mat-label>
                    <input matInput formControlName="otherStudy" maxlength="30" minlength="5">
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-4/12">
                <mat-form-field class="input w-full">
                    <mat-label>Institución</mat-label>
                    <input matInput formControlName="institution" maxlength="50" minlength="5">
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-3/12">
                <mat-form-field class="input w-full">
                    <mat-label>Profesión</mat-label>
                    <input matInput formControlName="profession" maxlength="30" minlength="5">
                </mat-form-field>
            </div>
        </div>
        <h3 class="px-4 font-semibold">
            Discapacidad
        </h3>
        <div class="flex flex-wrap">
            <div class="px-4 lg:w-2/12">
                <div class="py-4 w-full">
                    <mat-checkbox formControlName="disability">Discapacidad</mat-checkbox>
                </div>
            </div>
            <div class="px-4 lg:w-4/12">
                <mat-form-field class=" w-full">
                    <mat-label>Seleccione la discapacidad</mat-label>
                    <mat-select formControlName="disabilityType">
                        <mat-label>Seleccione la discapacidad</mat-label>
                        <mat-option value="Ninguna">Ninguna</mat-option>
                        <mat-option value="Física">Física</mat-option>
                        <mat-option value="Sensorial">Sensorial</mat-option>
                        <mat-option value="Cognitiva">Cognitiva</mat-option>
                        <mat-option value="Motora">Motora</mat-option>
                        <mat-option value="Psico-social">Psico-social</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-6/12">
                <mat-form-field class="input w-full">
                    <mat-label>Descripción discapacidad</mat-label>
                    <textarea matInput formControlName="disabilityDescription" maxlength="100" minlength="5"></textarea>
                </mat-form-field>
            </div>
        </div>
        <h3 class="px-4 font-semibold">
            Tallaje
        </h3>
        <div class="flex flex-wrap">
            <div class="px-4 lg:w-6/12">
                <mat-form-field class="input w-full">
                    <mat-label>Talla uniforme</mat-label>
                    <input matInput formControlName="uniformSize" maxlength="3" minlength="1">
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-6/12">
                <mat-form-field class="input w-full">
                    <mat-label>Talla zapato</mat-label>
                    <input matInput formControlName="shoeSize" maxlength="2" minlength="1">
                </mat-form-field>
            </div>
        </div>
        <h3 class="px-4 font-semibold">
            Población
        </h3>
        <div class="flex flex-wrap">
            <div class="px-4 lg:w-2/12">
                <mat-form-field class=" w-full">
                    <mat-label>Seleccione la poblacion</mat-label>
                    <mat-select formControlName="populationType">
                        <mat-label>Seleccione la discapacidad</mat-label>
                        <mat-option value="Ninguna">Ninguna</mat-option>
                        <mat-option value="Victima">Victima</mat-option>
                        <mat-option value="Indigena">Indigena</mat-option>
                        <mat-option value="LGTBI">LGTBI</mat-option>
                        <mat-option value="Mayoritario">Mayoritario</mat-option>
                        <mat-option value="Afro">Afro</mat-option>
                        <mat-option value="RROM">RROM</mat-option>
                        <mat-option value="Otros">Otros...</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-3/12">
                <mat-form-field class="input w-full">
                    <mat-label>Otro tipo de poblacion</mat-label>
                    <input matInput formControlName="otherPopulationType" maxlength="25" minlength="5">
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-3/12">
                <mat-form-field class="input w-full">
                    <mat-label>Nacionalidad</mat-label>
                    <input matInput formControlName="nationality" maxlength="20" minlength="5">
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-2/12">
                <mat-form-field class="w-full">
                    <mat-label>Seleccione el estrato</mat-label>
                    <mat-select formControlName="stratum">
                    <mat-label>Seleccione el estrato</mat-label>
                    <mat-option value="1">1</mat-option>
                    <mat-option value="2">2</mat-option>
                    <mat-option value="3">3</mat-option>
                    <mat-option value="4">4</mat-option>
                    <mat-option value="5">5</mat-option>
                    <mat-option value="6">6</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="px-4 lg:w-2/12">
                <mat-form-field class=" w-full">
                    <mat-label>Categoria Sisben</mat-label>
                    <mat-select formControlName="sisben">
                        <mat-label>Categoria Sisben</mat-label>
                        <mat-option value="A">Grupo A</mat-option>
                        <mat-option value="B">Grupo B</mat-option>
                        <mat-option value="C">Grupo C</mat-option>
                        <mat-option value="D">Grupo D</mat-option>
                        <mat-option value="0">No Aplica</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <h3 class="px-4 font-semibold">
            Enfermedades
        </h3>
        <div class="flex flex-wrap">
            <div class="px-4 lg:w-3/12">
                <div class="input w-full">
                    <mat-checkbox formControlName="disease">Enfermedades</mat-checkbox>
                </div>
            </div>
            <div class="px-4 lg:w-8/12">
                <mat-form-field class="input w-full">
                    <mat-label>Descripción enfermedad</mat-label>
                    <textarea matInput formControlName="diseaseDescription" maxlength="50" minlength="5"></textarea>
                </mat-form-field>
            </div>
        </div>

        <br>
        <div class="mx-auto flex flex-wrap items-center justify-between w-full">
            <div class="flex justify-center table-cell">
                <button mat-raised-button type="submit" [disabled]="frmAthlete.invalid" class="bg-meraki-2 text-white" style="margin: 0.5rem;">
                    <mat-icon>done</mat-icon>
                    <span>Guardar</span>
                </button>
                <button mat-raised-button color="warm" type="button" [routerLink]="['/admin/clubs/'+ id + '/athlete']" >
                    <mat-icon>close</mat-icon>
                    <span>Cancelar</span>
                </button>
            </div>
        </div>        
    </form>    
    </div>
    <div class="px-4 py-4" *ngIf="edad">
        <div class="rounded-t mb-0 px-4 py-3 border-0">
            <div class="flex flex-wrap items-center">
              <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                <h3
                  class="font-semibold text-lg text-blueGray-700"
                >
                  Familiares
                </h3>
              </div>
              <button mat-raised-button class="px-4 bg-meraki-2 text-white" (click)="insertModal(0, false)" style="margin: 0.5rem;">
                <mat-icon>create</mat-icon>
                <span> Insertar</span>
              </button>
            </div>
          </div>
          <div class="block w-full overflow-x-auto">
            <!-- Projects table -->
            <table class="items-center w-full bg-transparent border-collapse" mat-table [dataSource]="dataSourceFamily">
        
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef
                    class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                    ID </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef
                    class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"> 
                    Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="document">
                    <mat-header-cell *matHeaderCellDef
                    class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                    Documento </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.document}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef
                    class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                    Teléfono </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="relationship">
                    <mat-header-cell *matHeaderCellDef
                    class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                    Parentesco </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.relationship}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="accion">
                  <mat-header-cell *matHeaderCellDef
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                  Acciones</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                      <button mat-button style="color: #008080" (click)="insertModal(element.id, true)" title="Editar">
                          <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-button style="color: #008080" (click)="deleteModal(element.id)"title="Eliminar">
                          <mat-icon>clear</mat-icon>
                      </button>
                  </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumnsFamily"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsFamily;"></mat-row>
            </table>  
          </div>  
    </div>
</div>