<app-index-navbar></app-index-navbar>
<main>
  <div
    class="relative pt-16 lex content-center items-center justify-center min-h-screen-75"
  >
    <div
      class="absolute top-0 w-full h-full bg-black"
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      ></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12 mb-5">
            <h1 class="text-white font-semibold text-5xl">
              Directorio Deportivo
            </h1>
          </div>
          <div class="flex-row flex-wrap items-center lg:ml-auto mr-3 mb-8">
            <div class="relative flex w-full flex-wrap items-stretch">
              <span
                class="z-10 h-full leading-snug font-normal absolute text-center rounded-full text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3"
                ><i class="fas fa-search"></i
              ></span>
              <mat-select placeholder="Disciplina" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm shadow outline-none focus:outline-none focus:ring w-full pl-10"
              style="background: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%); border-radius: 100px !important;"
              (selectionChange)="citiesSport($event.value)" disableOptionCentering>            
                <mat-option *ngFor="let x of sports" [value]="x.id">
                  {{x.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="flex-row flex-wrap items-center lg:ml-auto mb-5">
            <mat-chip-list aria-label="City selection" #chipList>
              <mat-chip *ngFor="let x of cities" [value]="x.id" (click)="selected = !selected" (selectionChange)="clubCities(x.id)" [selected]="selected" >
                {{x.nombre}}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
    </div>    
  </div>
  
  <div class="pb-20 bg-black">
    <div>
      <section class="pb-20 bg-black" *ngFor="let x of clubs">
        <div class="container mx-auto px-4 border-2 border-white rounded-3xl">
          <div class="flex flex-wrap items-center">
            <div class="md:w-4/12 px-4 mr-auto ml-auto !py-4">
              <div
                class="relative flex flex-col min-w-0 break-words mb-6 shadow-lg rounded-lg"
              >
                <div *ngFor="let images of x.images">
                  <img
                  alt="x.images.url"
                  [src] = "images.logo ? images.url : '' "
                  style="clip-path: circle(50%);width: 19rem;"
                  class="rounded-full object-cover"
                  *ngIf="images.logo"
                  />
                </div>
              </div>
            </div>

            <div class="w-full md:w-5/12 px-4 mr-auto ml-auto text-white">
              <h1 class="text-3xl mb-2 font-semibold leading-normal py-4">
                {{x.name}}
              </h1>
              <p
                class="text-lg font-light leading-relaxed mt-0 mb-4"
              >
                {{x.municipio}} - {{x.sport}}
              </p>
              <div class="flex-button pb-4">
                <button class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button"
                (click) = "goClub(x.id)">
                  <i class="fas fa-search"></i> Ver 
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <mat-paginator
        [length]="pages"
        [pageSize]="pageSize"
        (page)="updateClubCities($event)"
        class="bg-black text-white"
        [class.hidden]="clubs.length == 0">
      >
      </mat-paginator>
    </div>
  </div>
</main>
<app-footer></app-footer>
