.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background-color: white;
    color: goldenrod;
    cursor: pointer;
 }
 .mat-chip.mat-standard-chip {
    background-color: black;
    color: white;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
}

.flex-button { 
    display: flex; 
    justify-content: right; 
} 