.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background-color: white;
    color: goldenrod;
    cursor: pointer;
    height: auto;
 }
 .mat-chip.mat-standard-chip {
    background-color: black;
    color: white;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    height: auto;
}

.flex-button { 
    display: flex; 
    justify-content: right; 
}

.mat-paginator.hidden {
    display: none !important;
}

::ng-deep .mat-select-panel {
    background: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  }