<div class="h-full">
  <app-sidebar></app-sidebar>
  <div class="relative md:ml-64 bg-blueGray-100">
  <div class="relative md:ml-64 bg-meraki-admin h-full" >
    <app-admin-navbar></app-admin-navbar>
    
    <div class="relative bg-meraki-admin md:pt-32 pb-32 pt-12">
      <div class="px-4 md:px-10 mx-auto w-full">
        
      </div>
    </div>
    <div class="px-4 md:px-10 mx-auto w-full -m-24">
      <router-outlet></router-outlet>
      <app-footer-admin></app-footer-admin>
    </div>
  </div>
</div>