<div class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-black shadow">
  <div class="container mx-auto flex flex-wrap items-center justify-between bg-black">
    <mat-toolbar class="bg-black"> 
      
        <a
          [routerLink]="['']"
          class="text-white font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
        >
          <h1 style="margin: 0">
            <img src="assets/img/meraki_logo.png" style="height: 1em;vertical-align: middle; line-height: 1;">
          </h1>
        </a>
   
        <span style="flex: 1 1 auto;"></span>
   
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <i class="fas fa-list text-white fa-lg"></i>
        </button>
   
        <mat-menu #menu="matMenu" style="width: 80vw !important;
        height: 80vh !important;
        max-width: none !important;
        max-height: none !important;">
          <button mat-menu-item routerLink="/directory"   
          class="custom-menu-item" style="font-size: 1.5em;
          padding: 1.5em;
          display: flex;
          align-items: center;
          justify-content: center;">
            <i class="fas fa-futbol fa-lg"></i>
            <span class="ml-2">Deportes</span>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="social"
          class="custom-menu-item" style="font-size: 1.5em;
          padding: 1.5em;
          display: flex;
          align-items: center;
          justify-content: center;">
            <i class="fas fa-user-friends"></i>
            Social
          </button>
          <mat-menu #social="matMenu" class="custom-menu">
            <button mat-menu-item routerLink="/godfather" class="custom-menu-item" style="font-size: 1.5em;
            padding: 1.5em;
            display: flex;
            align-items: center;
            justify-content: center;">
                <i class="fas fa-people-carry"></i>
                <span class="ml-2">Plan Padrino</span>
            </button>
            <button mat-menu-item routerLink="/suppornet" class="custom-menu-item" style="font-size: 1.5em;
            padding: 1.5em;
            display: flex;
            align-items: center;
            justify-content: center;">
                <i class="fas fa-hands-helping"></i>
                <span class="ml-2">Red. de Apoyo</span>
            </button>
            <button mat-menu-item routerLink="/growlife" class="custom-menu-item" style="font-size: 1.5em;
            padding: 1.5em;
            display: flex;
            align-items: center;
            justify-content: center;">
                <i class="fas fa-seedling"></i>
                <span class="ml-2">Sembrando vida</span>
            </button>
          </mat-menu>
          <button mat-menu-item routerLink="/aboutus" class="custom-menu-item" style="font-size: 1.5em;
          padding: 1.5em;
          display: flex;
          align-items: center;
          justify-content: center;">
            <span class="ml-2">¿Quiénes somos?</span>
          </button>
          <button mat-menu-item routerLink="/admin" class="custom-menu-item" *ngIf="admin != false" style="font-size: 1.5em;
          padding: 1.5em;
          display: flex;
          align-items: center;
          justify-content: center;">
            <i class="fas fa-user fa-lg"></i>
            <span> Admin</span>
          </button>
          <button mat-menu-item routerLink="/auth/login" class="custom-menu-item" *ngIf="admin == false" style="font-size: 1.5em;
          padding: 1.5em;
          display: flex;
          align-items: center;
          justify-content: center;">
            <i class="fas fa-user fa-lg"></i>
            <span> Iniciar Sesion</span>
          </button>
      </mat-menu>
    </mat-toolbar>    
  </div>
</div>
