
<div class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-black shadow">
  <div class="container mx-auto flex flex-wrap items-center justify-between bg-black">
    <mat-toolbar class="bg-black" > 
      
        <a
          [routerLink]="['']"
          class="text-white font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"        
        >
          <h1 style="margin: 0">
            <img src="assets/img/meraki_logo.png" style="height: 1em;vertical-align: middle; line-height: 1;">
          </h1>
        </a>
   
        <span style="flex: 1 1 auto;"></span>
   
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <i class="fas fa-list text-white fa-lg"></i>
        </button>
   
        <mat-menu #menu="matMenu" [ngStyle]="{'width': '25vw !important', 'height': '50vh !important', 'overflow-y': 'auto'}" >
          <button mat-menu-item routerLink="/directory"   
          class="text-black hover:text-blueGray-500 py-2 flex items-center uppercase font-bold">
            <i class="fas fa-futbol fa-lg"></i>
            <span class=" inline-block ml-2" >Deportes</span>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="social"
          class="text-black hover:text-blueGray-500  py-2 flex items-center uppercase font-bold">
            <i class="fas fa-user-friends"></i>
              Social
          </button>
          <mat-menu #social="matMenu">
            <button mat-menu-item routerLink="/godfather" 
                class="py-2 flex items-center uppercase font-bold">
                <i class="fas fa-people-carry"></i>
                <span class=" inline-block ml-2">Plan Padrino</span>
            </button>

            <button mat-menu-item routerLink="/suppornet" 
                class="py-2 flex items-center uppercase font-bold">
                <i class="fas fa-hands-helping"></i>
                <span class="inline-block ml-2">Red. de Apoyo</span>
            </button>

            <button mat-menu-item routerLink="/growlife" 
                class="py-2 flex items-center uppercase font-bold">
                <i class="fas fa-seedling"></i>
                <span class=" inline-block ml-2">Sembrando vida</span>
            </button>
          </mat-menu>
          <button mat-menu-item routerLink="/aboutus" 
          class="text-black hover:text-blueGray-500 py-2 flex items-center uppercase font-bold">
            <span class="inline-block ml-2">¿Quiénes somos?</span>
          </button>
          <button mat-menu-item routerLink="/admin" 
          class="bg-white text-black active:bg-black font-bold uppercase py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
          *ngIf="admin != false">
            <i class="fas fa-user fa-lg"></i>
            <span> Admin</span>
          </button>
          <button mat-menu-item routerLink="/auth/login" 
          class="bg-white text-black active:bg-black font-bold uppercase py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
          *ngIf="admin == false">
            <i class="fas fa-user fa-lg"></i>
            <span> Iniciar Sesion</span>
          </button>
      </mat-menu>
    </mat-toolbar>    
  </div>
</div>